body {
  background-image: url(../images/salao.gif);
  background-size:cover;
  } 
  
  main {
  justify-content: center;
  }
     
  .login-form {
    align-items: center;
    gap: 5px; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    font-family: serif;
    max-width: 95%;
    margin:auto;
  }

  @media (min-width: 546px) {
    .login-form {
      height: 45.5vh;
      width: 35.5%;
    }

    .button-input {
      font-size: 0.5em;     
      height: 5%;
    }
  } 
  
  .login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login__header img {
    width: 90%;
    padding-left: 35px;
    padding-right: 35px;
  }
   
  .button-input {
    display: flex;
    flex-direction: column;
    margin: 1 px;
    font-size: 1em;
    font-family: serif;
    gap: 5px;
    max-width: 90%;
    width: 70%;                                           
  }

 .login__input{
  border: 2px solid rgb(0, 0, 0);
  margin: 1 px;
  color: rgb(0, 0, 0);
  font-size: 1em;
  padding: 5%;
  border-radius: 10px;
  }
  
 .login__button {
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 10px;
    margin: 1 px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    width: 100%;
    font-family: serif;
    padding: 5%;
  } 

  .login__button:disabled {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: auto;
  }
  