
:root{
    --hue-neutral:410;
    --hue-wrong: 283;
    --hue-correct: 190;
  }

  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 95.5vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/giphy.gif);
    background-size:50%;
    color: white;
  }

  @media (min-width: 481px) {
    body {
      height: 95.5vh;
    }
  }

  main{
    margin: auto;
    width:90%;
    height: max-content;
  }

  @media (min-width: 481px) {
    main {
      width: 60%;
    }
  }


  #question{
    background-color:rgb(0, 0, 0);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    text-align: center;
    border-radius: 8px;
    color: white;
  }

  .container {
    background-color: black;
    border-radius: 5%;
    justify-content: center;
    margin: auto;
    height: fit-content;
    width: 80%;
    padding: 4%;
    align-items: center;
  }

  
  @media (min-width: 546px) {
    .container {
      width: 80%;
      height: 65%;
      margin-top:5% ;
      margin-bottom:5% ;
    }
  }

  #answer-buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: black;
    padding: 10px;
    gap: 8px;
    margin: 1px;
    border-style:groove;
    border-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
  }

  .btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 20%, 70%);
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .btn:hover {
    border-color: white;
  }

  .btn.correct {
    --hue: var(--hue-correct);
    background-color: hsl(var(--hue), 100%, 80%);
  }

  .btn.wrong {
  --hue: var(--hue-wrong);
  background-color: hsl(var(--hue), 100%, 80%);
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    text-align: center;
    max-width: fit-content;
  }

  .next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 34%;
    }

