main {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  flex-direction: column;
  background-image: url('../images/giphy.gif');
  background-size:50%;
  width:100%
  }

#question{
  background-color:rgb(0, 0, 0);
  padding: 20px;
  margin-top: 19px;
  margin-bottom: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  color: white;
  
}

#questions-container {
  display: flexbox;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  width: 1100px;
  max-width:55%;
  margin-top:10px;
  margin-left:300px ;
  border: 4px;
  padding: 9px;
  border-radius: 10%;
}

#answer-buttons{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: brown;
  text-decoration: black;
  padding: 25px;
  gap: 10px;
  margin: 1px;
  border-style:groove;
  border-color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  font-style: italic;
  font-weight: bold;
}

.btn {
  border: 2px solid;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 35px;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  font-style: italic;
  font-size:medium;
}

.btn:hover {
  background-color: transparent;
}

#controls{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin-top: 0.90px;
  margin-bottom: 8.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic white;
  font-size:  0.80rem;
  text-align: center;
  border-radius: 8px;
  max-width: 200px;
  margin-left: 550px;
}




